<div class="container">
  <%# Header component here %>
  <div class="header-container">
    <h1><%= @listing.name %></h1>
    <div class="header-row">
      <div class="header-column">
        <p><%="★ 4.92 · Superhost · " %> <%= @listing.location %></p>
      </div>
      <div class="header-column">
        <p><%="something here" %></p>
      </div>
    </div>
  </div>

  <%# Listing Images here %>
  <div class="images--flex">
    <img src="https://placekitten.com/400/400" alt="">
    <div class="images--flex__inner">
      <img src="https://placekitten.com/600/300" alt="">
      <img src="https://placekitten.com/900/800" alt="">
      <img src="https://placekitten.com/1200/400" alt="">
      <img src="https://placekitten.com/1200/400" alt="">
    </div>
  </div>



</div>
