<div>
  <%= link_to 'All Listings', root_path %> |
  <%= link_to 'Add a listing', new_listing_path(@listing) %>
</div>
<hr>
<h2>Your Listing</h2>
<ul>

  <% @listing.each do |list| %>
    <li><%= list.name %> (<%= list.location %>)</li>
  <% end %>

</ul>