// Import page-specific CSS files here.
@import "home";
@import "listing";

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
	display: inline-block;
    width: 250px;
    padding: 30px;
	border-radius: 8px;
    margin: 20px;

	font-size: small;
  }
