// Import page-specific CSS files here.
@import "home";
@import "listing";

/* This needs to be removed and moved to it's proper page or component!!! */
.card {
  display: inline-block;
  width: 250px;
  padding: 30px;
  border-radius: 8px;
  margin: 20px;
  font-size: small;
}

.card-image {
  margin-bottom: 20px;
}
