// Import page-specific CSS files here.
@import "components/card";

.header-row {
  display: flex;
  align-items: center;
}

.header-column {
  flex-grow: 1;
}

.listings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* General Image Styling */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Flexbox-based solution: */
.images--flex {
width: 100%;
display: flex;
border-radius: 15px;

}

.images--flex > * {
flex: 1;
}

.images--flex__inner {
display: flex;
flex-wrap: wrap;
align-items: stretch;
}

.images--flex__inner > * {
width: 50%;
height: 50%;
}
