div.card#card1 {
  top: 70px;
  margin-left: 45%;
  width: 250%;
  height: 50%;
  box-shadow: 10px 5px 5px gray;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.reviews {
  color: grey;
}

.btn-red {
  background-color: rgb(220, 105, 105);
  color: white;
  border-radius: 10px;
  width: 100%;
}

.reservations-wrapper {
  border-radius: 20px;
  width: 100%;
}
