<h1>Home Listings</h1>
<div><%= link_to 'Add shelter', new_shelter_path %></div>

<hr>

<ul>

  <% @shelters.each do |shelter| %>
    <li><%= link_to shelter.name, shelter %> (<%= shelter.pets.size %>)</li>
  <% end %>

</ul>
