<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom fixed-top">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "imgbin_airbnb-logo-png.png"%>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <%= render "shared/nav/searchstate"%>
    <%= render "shared/nav/dropdown" %>
  </div>
</div>
